html,body{
    margin: 0;
    padding:0;
}
.nav_container {
    display: flex;
    justify-content: center;
    background: rgba(240, 193, 201, 0.925);
    padding: 10px;
    position: fixed;
    width: 100%;
}
ul{
    list-style-type: none;
li a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    text-decoration: none;
}
}
ul li a:hover{
    background: rgb(236, 154, 212);
    padding: 5px;
    border-radius:5px;
}
.logo {
    display: flex;
    align-items: center;
}
img {
    width: auto;
    height: 50px;  
}
.Titre {
    height: 100vh;
    font-size: 4em;
    background: url(twitter_header___taylor_swift_folklore_by_ashsmblack_dfmcptb-fullview.jpg) no-repeat ;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

